<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Nome: <%= nome %> <br>
    Data: <%= date %><br>
    Modelo: <%= modelo %><br>
    Série: <%= serie %><br>
    IMEI: <%= imei %><br>
    Numero de celular: <%= numeroChip %><br>
    Numero de Patrimonio: <%= numeroPatrimonio %><br>
    Problema identificado: <%= problema %><br>
    Modelo Novo: <%= modeloNovo %><br>
    Usado: <%= usado %><br>
    Serie aparalho novo: <%= serieNovo %><br>
    Imei aparelho novo: <%= imeiNovo %><br>
    Numero aparelho novo: <%= numeroChipNovo %><br>
    Numero patrimonio novo: <%= numeroPatrimonioNovo %><br>
</body>
</html>